//.titleText {
//  .typo {
//    font-family: IRANSans !important;
//    text-align: center;
//    font-weight: bolder;
//  }
//}
//.mainX {
//  .xxx {
//    font-family: IRANSans !important;
//    text-align: center;
//    font-weight: bolder;
//    width: 100%;
//    justify-content: center;
//    display: flex;
//    padding-top: 20px;
//  }
//}
.slick-prev:before, .slick-next:before {
  color: black !important;
  //background-color: #bd70ff;
}

.sssss{
  display: flex !important;
  justify-content: center !important;
}