.post-page-main {
    // background-color: skyblue;

    .second-tab { 

        // background-color: skyblue;
        width: 100% !important;
        // width: 100% !important;

        .attachment {
            height: 70px;
            display: flex;
            // width: 100%;
            justify-content: center;
            align-items: right;
            text-align: right;
            // background-color: pink;
            // width: inherit;

            .files-attachment {
                display: flex;
                flex: 1;
                font-family: IRANSans;
                padding-right: 5px;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                align-items: center;
            }
            .download-files {
                font-family: IRANSans;
                font-size: 16px;
            }
        }
    }

    .post-tabs {
        // background-color: skyblue;
        font-family: IRANSans;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-weight: 450;
        font-size: 17px;
        flex: 1;
        max-width: none;
    }

    .instructor {
        font-family: IRANSans;
    }

    .aboutPost {
        font-family: IRANSans;
        text-align: right;
        font-weight: normal;
        color: black;
    }

    .post-footer {
        font-family: IRANSans;
        width: 100%;
        display: flex;
        position: relative;
        padding: 0 !important;

        // .span-footer {
        //     flex: 1;
        // }

        .icon-footer {
            display: flex;
            flex: 1;
            // background-color: pink;

            .comment-icon {
                z-index: 100;
            }

            .span-footer {
                flex: 1;
            }

            .share-like-icon {
                position: absolute;
                width: 100%;
                justify-content: center;
                align-items: center;
                display: flex;
            }
        }
        // .share-like-icon {
        //     position: absolute;
        //     width: 100%;
        //     justify-content: center;
        //     align-items: center;
        //     display: flex;
        // }
    }

    .MuiCardActions-spacing > :not(:first-child) {
        margin-left: 0;
    }

    .date {
        font-family: IRANSans;
        font-weight: lighter;
    }

    .img-test {
        width: 50%;
        height: 50%;
    }
}
