.post-page-main {
  .instructor {
    font-family: IRANSans;
  }

  .aboutPost {
    font-family: IRANSans;
    font-weight: normal;
    color: black;
  }

  .post-footer {
    font-family: IRANSans;
    width: 100%;
  }

  .date {
    font-family: IRANSans;
    font-weight: lighter;
  }

  .img-test{
    width: 50%;
    height: 50%;
  }
}