.input2{
    font-family: IRANSans !important;
    background-color: whitesmoke;
}

.icon{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.text{
    font-family: IRANSans !important;
}