.input{
    font-family: IRANSans !important;
    background-color: white;
}

.title{
    font-family: IRANSans !important;
}

.icon{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}