main{
   .fl{
    font-weight: 600;
} 
.nameeeee{
    font-weight: 600;
    font-size: 30px;
    direction: rtl;
    text-align: right;
    display: inline;
}
.modares{
    color:gray;
    direction: rtl;
    text-align: right;
    vertical-align: text-bottom;
    display: inline;
   
}
}
