.mainList {
  .listItemText {
    //padding-left: 85px;
    background-color: lightblue;
    text-align: right;
  }

  .listItemIcon {
    //padding-left: 20px;
    background-color: antiquewhite;
    text-align: right;
    padding-left: 10px;
  }
}
.secondaryList {
  .listItemText {
    //padding-left: 85px;
    background-color: lightblue;
    text-align: right;
  }

  .listItemIcon {
    //padding-left: 20px;
    background-color: antiquewhite;
    text-align: right;
    padding-left: 10px;
  }
}