.mainList {
  margin-top: 62px;

  .desktopProfilePic {
    width: 100px;
    height: 100px;
    margin: 10px auto;
  }

  .userName {
    font-family: IRANSans;
    font-size: large;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 1px;
    white-space: normal;
    width: 200px;
    overflow: hidden;
    text-overflow: initial;
  }

  .QandA {
    font-family: IRANSans !important;
    font-size: large;
    padding-left: 79px;
    margin-left: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .QandAIcon {
    margin-right: 30px;
    padding-left: 10px;
  }

  .profile {
    font-family: IRANSans !important;
    font-size: large;
    padding-left: 77px;
    margin-left: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .profileIcon {
    margin-right: 30px;
    padding-left: 12px;
  }

  .courses {
    font-family: IRANSans !important;
    font-size: large;
    padding-left: 78px;
    margin-left: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .courseIcon {
    margin-right: 30px;
    padding-left: 12px;
  }

  .store {
    font-family: IRANSans !important;
    font-size: large;
    padding-left: 72px;
    margin-left: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .storeIcon {
    margin-right: 30px;
    padding-left: 10px;
  }

  .dashboard {
    font-family: IRANSans !important;
    font-size: large;
    padding-left: 75px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 30px;
  }

  .dashIcon {
    margin-right: 30px;
    padding-left: 10px;
  }

  .setting {
    font-family: IRANSans !important;
    font-size: large;
    padding-left: 70px;
    margin-left: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .setIcon {
    margin-right: 30px;
    padding-left: 10px;
  }

  .exit {
    font-family: IRANSans !important;
    font-size: large;
    padding-left: 90px;
    margin-left: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .exitIcon {
    margin-right: 30px;
    padding-left: 10px;
  }
}

.mobileList {
  .userName {
    font-family: IRANSans;
    font-size: large;
    text-align: center;
    white-space: normal;
    width: 200px;
    overflow: hidden;
    text-overflow: initial;
  }

  .courses {
    font-family: IRANSans !important;
    font-size: large;
    padding-left: 78px;
    margin-left: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .courseIcon {
    margin-right: 30px;
    padding-left: 12px;
  }

  .QandA {
    font-family: IRANSans !important;
    font-size: large;
    padding-left: 79px;
    margin-left: 30px;
  }

  .QandAIcon {
    margin-right: 30px;
    padding-left: 10px;
  }

  .profile {
    font-family: IRANSans !important;
    font-size: large;
    padding-left: 77px;
    margin-left: 30px;
  }

  .profileIcon {
    margin-right: 30px;
    padding-left: 12px;
  }

  .store {
    font-family: IRANSans !important;
    font-size: large;
    padding-left: 72px;
    margin-left: 30px;
  }

  .storeIcon {
    margin-right: 30px;
    padding-left: 10px;
  }

  .dashboard {
    font-family: IRANSans !important;
    font-size: large;
    padding-left: 75px;
    margin-left: 30px;
  }

  .dashIcon {
    margin-right: 30px;
    padding-left: 10px;
  }

  .setting {
    font-family: IRANSans !important;
    font-size: large;
    padding-left: 70px;
    margin-left: 30px;
  }

  .setIcon {
    margin-right: 30px;
    padding-left: 10px;
  }

  .exit {
    font-family: IRANSans !important;
    font-size: large;
    padding-left: 90px;
    margin-left: 30px;
  }

  .exitIcon {
    margin-right: 30px;
    padding-left: 10px;
  }
}