.text4{
    font-family: IRANSans !important;
    display: inline;
    font-weight: lighter !important;
}

.text{
    font-family: IRANSans !important;
    display: inline;
}

.text1{
    font-family: IRANSans !important;
    font-weight: bold !important;
    line-height: 2.2 !important;
}

.icon{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.text2{
    font-family: IRANSans !important;
    display: inline;
}

.text3{
    font-family: IRANSans !important;
    line-height: 2.2 !important;
    font-weight: 300 !important;
}

.snack{
    font-family: IRANSans !important;
}