.layout {
  font-family: IRANSans !important;

  .toSee {
    font-family: IRANSans !important;
  }

  .courseNamePlace {
    font-family: IRANSans !important;
  }

  .courseAboutPlace {
    font-family: IRANSans !important;
  }
}