.layout {
  font-family: IRANSans !important;

  .toSee {
    font-family: IRANSans !important;
  }

  .courseNamePlace {
    font-family: IRANSans !important;
  }

  .courseCapacityPlace {
    font-family: IRANSans !important;
    font-size: 12px;
    padding-top: 4px;
  }

  .courseOwnerPlace {
    font-family: IRANSans !important;
    font-size: 15px;

  }
}